/* algemeen */
*{
    margin: 0;
    padding: 0;
}
/* end algemeen */
/* header */
header{
    background-image: url("../images/wave.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;

}
header nav {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav-links {
    list-style: none;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-content: start;
}
header nav .knop {
    font-size: large;
    text-decoration: none;
    color: white;
}
/* end header */
/* main */
/* sectie1 */
main .sectie1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
main .sectie1 .tekst {
    grid-row: 1 -2;
    grid-column: 2 1;
    align-content: center;
}

.zeezicht-foto{
    grid-row: 1 -2;
    grid-column: 3;
}
/* end sectie1 */
/* sectie2 */
main .sectie2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
}
main .sectie2 .korting{
    background-color: blue;
    display: flex;
    width: 100px;
    height: 50px;
    color: white;
    align-items: center;
    border-radius: 40%;
    justify-content: center;
}
/* end main */
/* footer */
footer nav {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* end footer */